@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* 2. Italic */
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* 3. SemiBold */
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  /* 600 — это стандартное цифровое значение для SemiBold */
  font-style: normal;
  font-display: swap;
}

/* 4. SemiBold Italic */
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: var(--text-primary);
  background-color: #fff;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-inline-size: 1440px;
  min-block-size: 100dvh;
  margin: 0 auto;
  background-color: var(--bg-page);
}

.button {
  border: 0;
  border-radius: 100px;
  background-color: var(--bg-page);
  font: inherit;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 20px 40px;
  font-weight: 600;
}

.logo {
  flex-shrink: 0;
}

.logo img {
  width: 100px;
  height: 60px;
}

.menu {
  margin: 0 auto;
}

.menu__list {
  display: flex;
  gap: 40px;
}

.menu__list-link {
  transition: color 0.2s ease;
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 24px;
}

.theme-switch {
  display: flex;
  gap: 8px;
  padding: 3px;
  border: 1px solid var(--border-primary);
  border-radius: 100px;
}

.theme-switch__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

.theme-switch__label {
  display: flex;
  padding: 8px;
  border-radius: 100px;
  cursor: pointer;
}

.theme-switch__input:checked + .theme-switch__label {
  background-color: var(--text-accent);
}

.theme-switch__icon--sun {
  width: 22px;
  height: 22px;
  fill: var(--text-inverse);
}

.theme-switch__icon--moon {
  width: 18px;
  height: 18px;
  fill: var(--text-primary);
}

.header__menu-link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: inherit;
}

.header__menu-icon {
  width: 20px;
  height: 20px;
  fill: none;
  stroke: var(--text-primary);
}

.main {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.hero {
  background-image: url("../assets/images/hero.jpg");
  background-position: center;
  background-size: 100% 100%;
  color: var(--text-inverse);
  border-radius: 40px;
}

.hero__content {
  inline-size: 530px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 100px;
}

.hero__title {
  line-height: 105%;
  font-size: 72px;
}

.hero__button {
  align-self: flex-start;
  padding: 20px 78px;
}

.title {
  font-weight: 600;
}

.title .accent {
  font-style: italic;
  color: var(--text-accent);
}

.section-title {
  line-height: 125%;
  font-size: 60px;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.slider__title {
  text-align: center;
}

.slider__container {
  display: flex;
  align-items: center;
  align-self: stretch;
}

.slider__content {
  inline-size: 480px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.slider__image {
  inline-size: 100%;
}

.slider__about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.slider__about-title {
  line-height: 125%;
  font-size: 24px;
}

.slider__about-description {
  text-align: center;
}

.slider__pagination {
  display: flex;
  gap: 12px;
}

.slider__arrow {
  inline-size: 60px;
  block-size: 60px;
  border: 1px solid var(--border-primary);
  padding: 0;
}

.slider__arrow-icon {
  inline-size: 14px;
  block-size: 13px;
  fill: none;
  stroke: var(--text-primary);
}

.slider__indicator {
  inline-size: 40px;
  block-size: 4px;
  padding: 0;
  background-color: var(--border-primary);
}

.slider__indicator--active {
  background-color: var(--border-inverse);
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.about__images {
  inline-size: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 430px 120px 430px;
  gap: 40px;
  grid-template-areas:
    "img1 img3"
    "img1 img4"
    "img2 img4";
}

.about__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  border-radius: 20px;
  object-position: center;
}

.about__image--1 {
  grid-area: img1;
}

.about__image--2 {
  grid-area: img2;
}

.about__image--3 {
  grid-area: img3;
}

.about__image--4 {
  grid-area: img4;
}

.mobile-app {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  align-items: center;
}

.mobile-app__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-app__downloads {
  display: flex;
  gap: 20px;
}

.mobile-app__download {
  border: 1px solid var(--border-primary);
  padding: 10px 20px;
  inline-size: 200px;
  justify-content: flex-start;
  gap: 12px;
}

.mobile-app__label {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
}

.mobile-app__icon--apple {
  inline-size: 27px;
  block-size: 32px;
  fill: var(--text-primary);
}

.mobile-app__icon--google {
  inline-size: 31px;
  block-size: 33px;
  fill: var(--text-primary);
}

.mobile-app__caption {
  font-size: 10px;
  line-height: 140%;
}

.mobile-app__image {
  inline-size: 100%;
  max-inline-size: 630px;
  block-size: 100%;
}
